[MESSAGES CONTROL]

disable=
  # Handled by Black
  format,

  fixme,
  invalid-name,
  missing-docstring,

  # Fix soon
  no-self-use,
  no-value-for-parameter,
  relative-beyond-top-level
  unused-argument,
  unused-variable,


[REPORTS]

reports=no
score=no

[FORMAT]

max-module-lines=2000
