[MESSAGES CONTROL]

disable=
  # Handled by Black
  format,

  # Handled by isort
  ungrouped-imports,

  fixme,
  invalid-name,
  missing-docstring,

[REPORTS]

reports=no
score=no

[FORMAT]

max-module-lines=2000
