[MESSAGES CONTROL]

disable=
  # Handled by Black
  format,

  fixme,
  invalid-name,
  missing-docstring,

  # Fix soon
  no-value-for-parameter,

[REPORTS]

reports=no
score=no

[FORMAT]

max-module-lines=2000
